<a href="https://colab.research.google.com/github/dakmatt/UTM/blob/main/Assignment2_MAN1153_AhmadFairuzAli.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default() # 1. jalankan untuk dapatkan ID of authorization 
drive = GoogleDrive(gauth)

In [ ]:
# https://drive.google.com/file/d/11ycdTpRAYJlpSkeeQLhZpa6SpYheQZwD/view?usp=sharing

In [ ]:
downloaded = drive.CreateFile({'id':"11ycdTpRAYJlpSkeeQLhZpa6SpYheQZwD"})

In [ ]:
# 1) Load the data into your Colab.
downloaded.GetContentFile('Automobile_data.csv')
# 2) Store the data as a pandas dataframe, called data_df
import pandas as pd
data_df = pd.read_csv('Automobile_data.csv')
# 3) Print the top 5 rows of data_df
print(data_df.head(5))
# 4) Print the info of data_df
print(data_df.describe())
# 5) Sort the data in descending order, according to ‘make’
print(data_df.sort_values(by='make',ascending=False))
# 6) Sort the data in ascending order order, according to ‘wheel-base’'
print(data_df.sort_values(by='wheel-base',ascending=True))
# 7) Print all cars that has ‘wheel-base’ bigger than 100
print(data_df[data_df['wheel-base']>100].sort_values(by='wheel-base',ascending=True))
# 8) Create a DataFrame called make_wheel that contains only ‘make’ and ‘wheel-base’ columns
# of data_df, in that order.
make_wheel = data_df[['make','wheel-base']]
print(make_wheel.head(5))

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]
        symboling  wheel-base  ...    city-mpg  highway-mpg
count  205.000000  205.000000  ...  205.000000   205.000000
mean     0.834146   98.756585  ...   25.219512    30.751220
std      1.245307    6.021776  ...    6.542142     6.886443
min     -2.000000   86.600000  ...   13.000000    16.000000
25%      0.000000   94.500000  ...   19.000000    25.000000
50%      1.000000   97.000000  ...   24.000000    30.000000
75%      2.000000  102.400000  ...   30.000000    34.000000
max      3.000000  120.900000  ...   49.000000    54.000000

[8 rows x 10 columns]
     symboling normalized-losses         make  ... city-mpg highway-mpg  price
204         -1                95        volvo  ...       19          25  22625
199         -1                74        volvo  ...       17          22  18950
194         -2               103        volvo  ...       23          28  12940
195         -1                74        volvo  ...       23          28  13415
196         -2               103        volvo  ...       24          28  15985
..         ...               ...          ...  ...      ...         ...    ...
4            2               164         audi  ...       18          22  17450
3            2               164         audi  ...       24          30  13950
2            1                 ?  alfa-romero  ...       19          26  16500
1            3                 ?  alfa-romero  ...       21          27  16500
0            3                 ?  alfa-romero  ...       21          27  13495

[205 rows x 26 columns]
     symboling normalized-losses           make  ... city-mpg highway-mpg  price
31           2               137          honda  ...       31          38   6855
30           2               137          honda  ...       49          54   6479
18           2               121      chevrolet  ...       47          53   5151
0            3                 ?    alfa-romero  ...       21          27  13495
1            3                 ?    alfa-romero  ...       21          27  16500
..         ...               ...            ...  ...      ...         ...    ...
113          0                 ?         peugot  ...       19          24  16695
114          0                 ?         peugot  ...       25          25  17075
71          -1                 ?  mercedes-benz  ...       16          18  34184
70          -1                93  mercedes-benz  ...       22          25  31600
73           0                 ?  mercedes-benz  ...       14          16  40960

[205 rows x 26 columns]
     symboling normalized-losses           make  ... city-mpg highway-mpg  price
193          0                 ?     volkswagen  ...       25          31  12290
191          0                 ?     volkswagen  ...       19          24  13295
103          0               108         nissan  ...       19          25  13499
102          0               108         nissan  ...       17          22  14399
101          0               128         nissan  ...       17          22  13499
..         ...               ...            ...  ...      ...         ...    ...
114          0                 ?         peugot  ...       25          25  17075
110          0                 ?         peugot  ...       25          25  13860
71          -1                 ?  mercedes-benz  ...       16          18  34184
70          -1                93  mercedes-benz  ...       22          25  31600
73           0                 ?  mercedes-benz  ...       14          16  40960

[63 rows x 26 columns]
          make  wheel-base
0  alfa-romero        88.6
1  alfa-romero        88.6
2  alfa-romero        94.5
3         audi        99.8
4         audi        99.4