<a href="https://colab.research.google.com/github/dakmatt/UTM/blob/main/HelloWorld_LoadData_AhmadFairuzAli.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hi UTM, welcome to Colab, This is Ahmad Fairuz Bin Ali from PT10 ")

Hi UTM, welcome to Colab, This is Ahmad Fairuz Bin Ali from PT10

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default() # 1. jalankan untuk dapatkan ID of authorization 
drive = GoogleDrive(gauth)

In [ ]:
https://drive.google.com/file/d/1uayYHpPzLBE_ZKe9rbWsdb7wz4xsqKaM/view?usp=sharing

In [ ]:
downloaded = drive.CreateFile({'id':"1uayYHpPzLBE_ZKe9rbWsdb7wz4xsqKaM"})

In [ ]:
downloaded.GetContentFile('Telco-Customer-Churn.csv')

In [ ]:
import pandas as pd
_telco_churn = pd.read_csv('Telco-Customer-Churn.csv')

In [ ]:
_telco_churn.head(3)

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes

[3 rows x 21 columns]