In [8]:
print("Hi UTM, welcome to Colab, This is Ahmad Fairuz Bin Ali from PT10 ")

Hi UTM, welcome to Colab, This is Ahmad Fairuz Bin Ali from PT10

In [2]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [3]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default() # 1. jalankan untuk dapatkan ID of authorization 
drive = GoogleDrive(gauth)

In [ ]:
https://drive.google.com/file/d/16VpNQUop1vitbNksbFqQud33zz0WU5rP/view?usp=sharing

In [4]:
downloaded = drive.CreateFile({'id':"16VpNQUop1vitbNksbFqQud33zz0WU5rP"})

In [5]:
downloaded.GetContentFile('cases_malaysia.csv')

In [6]:
import pandas as pd
_covid_cases = pd.read_csv('cases_malaysia.csv')

In [7]:
_covid_cases.head(3)

         date  cases_new  ...  cluster_detentionCentre  cluster_workplace
0  2020-01-25          4  ...                      NaN                NaN
1  2020-01-26          0  ...                      NaN                NaN
2  2020-01-27          0  ...                      NaN                NaN

[3 rows x 19 columns]